@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .view-full {
    @apply h-full w-full;
  }
  .chartContainer {
    height: 95%;
    width: 90%;
  }
  .SearchBar {
    height: 100%;
    width: 10%;
  }
  .listingBar {
    height: 90%;
    width: 100%;
  }

  .inputSymbol {
    height: 5%;
    width: 100%;
  }
}

[class="highcharts-root"] {
    width: 100%;
    height: 100%;
}
